@{
    ViewBag.Title = "Calendar App";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css" integrity="sha512-IBfPhioJ2AoH2nST7c0jwU0A3RJ7hwIb3t+nYR4EJ5n9P6Nb/wclzcQNbTd4QFX1lgRAtTT+axLyK7VUCDtjWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css" integrity="sha512-CN6oL2X5VC0thwTbojxZ02e8CVs7rii0yhTLsgsdId8JDlcLENaqISvkSLFUuZk6NcPeB+FbaTfZorhbSqcRYg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css" integrity="sha512-/Jnt6fX98n8zZyuCt4K81+1eQJhWQn/vyMph1UvHywyziYDbu9DFGcJoW8U73m/rkaQBIEAJeoEj+2Rrx4tFyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.css' />


<br>
<br>
<div class="container">
    <div id="calendar" class="fc fc-unthemed fc-ltr"></div>

    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-left" id="modal-title">Create new event</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div id="event-form-quick-create">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="col-xs-4" for="title">Event title</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="title" id="event-title">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="col-xs-4" for="starts-at">Starts at</label>
                            </div>
                            <div class="col-md-5">
                                <input type="datetime-local" name="starts_at" id="starts-at">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="col-xs-4" for="ends-at">Ends at</label>
                            </div>
                            <div class="col-md-5">
                                <input type="datetime-local" name="ends_at" id="ends-at">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="event-create-btn" data-dismiss="modal">Create new</button>
                        </div>
                    </div>

                    <div id="event-form-edit">

                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>






@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/moment/main.min.js" integrity="sha512-vRPhNmrqBLazLcQnrmaezKvTfLXlg91HMt830GlhNln3UcIk9Q/ruFkZLwOEIqwQNHBk3CftwtMJOgT9UOURjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js" integrity="sha512-bg9ZLPorHGcaLHI2lZEusTDKo0vHdaPOjVOONi4XLJ2N/c1Jn2RVI9qli4sNAziZImX42ecwywzIZiZEzZhokQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js" integrity="sha512-kebSy5Iu+ouq4/swjgEKwa217P2jf/hNYtFEHw7dT+8iLhOKB5PG5xaAMaVyxRK7OT/ddoGCFrg8tslo8SIMmg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js" integrity="sha512-APuj9Rm7J37dj8cRB1qwznH+zrWD7/vkaodDwJVxpdk72m5c9u8mbbdLHn6JnSw5M4AhV8Zb1HnLrNMGoOfR/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js" integrity="sha512-9M3YQ9E3hEtjRZSQdU1QADaOGxI+JAzq6bieArw7nIxQbPmn10M7TYxhvJZCuvSjlncJG24l+/e5d1bTRN3m4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
            $('#event-create-btn').on('click', function () { myCreateEvent() });

            function DeleteWithoutReload(url) {
                swal({
                    title: "Are you sure you want to Delete?",
                    text: "You will not be able to restore the data!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: 'DELETE',
                            url: url,
                            success: function (data) {
                                if (data.success) {
                                    toastr.success(data.message);
                                    $('.modal').modal('hide');
                                    calendar.refetchEvents();
                                }
                                else {
                                    toastr.error(data.message);
                                }
                            }
                        });
                    }
                });
            }

            function submitForm() {
                var $form = $('form');

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Edit", "CalendarApp")/' + $('#Id').val(),
                    data: $form.serialize(),
                    error: function () {
                        toastr.error("Editing event failed!");
                    },
                    success: function () {
                        calendar.refetchEvents();
                        toastr.success("Edited successfully!");
                    }
                });
            }

            function myCreateEvent() {
                var title = $('#event-title').val();
                var start = $('#starts-at').val();
                var end = $('#ends-at').val();
                $.ajax({
                    url: '@Url.Action("CreateEvent","EventsApi")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ id: '', title: title, start: start, end: end }),
                    success:function(data)
                    {
                        calendar.refetchEvents();
                        toastr.success("Added Successfully");
                    }
                })
            };

            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'timeGrid', 'interaction'],
                height: 'parent',
                header: {
                    left: 'prev,next,today',
                    center: 'title',
                    right: 'dayGridMonth, timeGridWeek, timeGridDay'
                },
                defaultView: 'dayGridMonth',
                selectable: true,
                selectHelper: true,
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: function (info, successCallback, failureCallback) {
                    $.ajax({
                        url: '@Url.Action("getlistevent","eventsapi")',
                        data: { start: info.startStr, end: info.endStr },
                        type: 'GET',
                        success: function (response) {
                            successCallback(response);
                        },
                        error: function (error, response) {
                            failureCallback(error, response);
                        }
                    });
                },
                eventDrop: function (eventDropInfo) {
                    var id = eventDropInfo.event.id;
                    var days = eventDropInfo.delta.days;
                    $.ajax({
                        url: '@Url.Action("UpdateEvent", "EventsApi")',
                        type: 'PUT',
                        contentType: 'application/json',
                        data: JSON.stringify({ id: id, days: days}),
                        success: function () {
                            calendar.refetchEvents();
                            toastr.success("Event Updated");
                        },
                        error: function () {
                            toastr.error("Event Updating Failed");
                            eventDropInfo.revert();
                        }
                    });
                },
                eventClick: function (eventClickInfo) {
                    $.ajax({
                        url: '@Url.Action("GetEditForm", "CalendarApp")/' + eventClickInfo.event.id,
                        type: 'GET',
                        success: function (data) {
                            $('#event-form-quick-create').hide();
                            $('#modal-title').html('Edit event');
                            var edit_form = $('#event-form-edit');
                            edit_form.html(data);
                            edit_form.show();
                            $('#event-edit-submit').on('click', function () { submitForm() });
                            $('.modal').modal('show');
                        },
                        error: function () {
                            toastr.error("Something get errors.");
                        }
                    });
                },
                select: function (selectionInfo) {
                    var start = selectionInfo.startStr.split('+')[0];
                    var end = selectionInfo.endStr.split('+')[0];
                    if ($('.fc-dayGridMonth-button').hasClass('fc-button-active')) {
                        start += 'T00:00:00';
                        end += 'T00:00:00';
                    }
                    $('#starts-at').val(start);
                    $('#ends-at').val(end);
                    $('#event-title').val('');
                    $('#event-form-edit').hide();
                    $('#modal-title').html('Create new event');
                    $('#event-form-quick-create').show();
                    $('.modal').modal('show');
                }
            });

            calendar.render();
    </script>
}
